@charset "UTF-8";

h1 {
	display: block;
	padding-bottom: 13px;
	font-size: 30px;
	color: #9c836a;
	font-weight: 450;
	/* padding-top: 0px; */
	margin-left: 100px;
}
/*  #middle img{
vertical-align:middle;
}
 */

img {
	margin-right: 15px;
	float: left;
}
.des{
	position : absolute;
	margin-top: 50px;
	left : 1050px;
	font-size: 16px;
	min-width: 1000px;
}
h3{
 font-size: 25px;
}
.des1{
	position : absolute;
	margin-top: 50px;
	left : 500px;
	font-size: 16px;
}

#loginOutBtn, #loginBtn {
	min-width: auto;
	padding: 0 12px;
	font-size: 12.5px;
	height: 32px;
	line-height: 32px;
	background: #fff;
	border: 1px solid #9c836a;
	color: #9c836a;
}

#loginOutBtn:hover, #loginBtn:hover {
	text-decoration: none;
	cursor: pointer;
	color: #fff;
	background: #9c836a;
}